.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 90px;
}

.header__logo {
  width: 355px;
  height: 69px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 254px;
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .header__logo {
    width: 188px;
    height: 52px;
  }
}
