.intro {
  padding-top: 92px;
  padding-right: 302px;
  width: 100%;
}

.intro__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  leading-trim: NONE;
  line-height: 58px;
  letter-spacing: 0%;
  padding-bottom: 40px;
}

.intro__quote {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 34px;
  letter-spacing: 0%;
  padding-bottom: 10px;
}

.intro__quote-author {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  padding-bottom: 32px;
}

.intro__paragraph {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 163%;
  letter-spacing: 0%;
  padding-bottom: 92px;
}
@media screen and (max-width: 768px) {
  .page {
    padding: 0;
  }

  .header__logo {
    width: 254px;
    height: 66px;
  }

  .lead__title {
    font-size: 75px;
    leading-trim: NONE;
    line-height: 79px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 25px;
  }

  .lead__subtitle {
    padding-bottom: 30px;
  }

  .lead__image {
    width: 100%;
  }
  .intro {
    padding: 90px 24px 0 24px;
    width: 100%;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
    padding-bottom: 50px;
  }

  .intro__quote {
    padding-bottom: 26px;
  }

  .intro__quote-author {
    padding-bottom: 32px;
  }

  .intro__paragraph {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 0;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .header__logo {
    width: 188px;
    height: 52px;
  }

  .lead__title {
    font-size: 40px;
    leading-trim: NONE;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 16px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }

  .intro {
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 40px;
  }

  .intro__quote {
    line-height: 30px;
  }

  .intro__paragraph {
    padding-bottom: 64px;
  }

  .footer__copyright {
    line-height: 14px;
    padding-bottom: 24px;
  }
}
