.lead__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  padding-bottom: 32px;
  margin: 0;
}

.lead__subtitle {
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 64px;
}

.lead__image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 75px;
    leading-trim: NONE;
    line-height: 79px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 25px;
  }

  .lead__subtitle {
    padding-bottom: 30px;
  }

  .lead__image {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    leading-trim: NONE;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 16px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }
}
