* {
  margin: 0; /* Quita los márgenes por defecto de todos los elementos */
  padding: 0; /* Quita el padding por defecto */
  box-sizing: border-box; /* Hace que el ancho y alto incluyan padding y borde */
}

.page {
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  background-color: #2a2c2f;
  color: white;
  padding: 0 148px;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 0;
  }
}
